@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1512621776951-a57141f2eefd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

:root {
  --primary-btn: #86c232;
  --secondary-btn: #61892f;
  --background-color: #222629;
  --primary-color: #474b4f;
  --secondary-color: #a1a4a6;
}

hr {
  height: 1px;
  background-color: #c9c5c5;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.app_content {
  display: flex;
}

.flex_col {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn_animation {
  animation: fadeIn 4s;
}
