.food_area {
  margin-top: 30px;
}

.food_area h2 {
  font-weight: 600;
  font-size: max(2vw, 24px);
  color: var(--primary-btn);
}

.food_area_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
  row-gap: 50px;
  margin-top: 30px;
}
