.navbar {
  display: flex;
  align-items: center;
  padding: 8px 4%;
  justify-content: space-between;
}

.navbar .logo {
  width: max(14%, 150px);
}

.navbar .profile {
  width: 40px;
  border-radius: 50%;
}
