@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--background-color);
}
:root {
  --primary-btn: #86c232;
  --secondary-btn: #61892f;
  --background-color: #222629;
  --primary-color: #474b4f;
  --secondary-color: #a1a4a6;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn_animation {
  animation: fadeIn 4s;
}
