.visit_menu {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.visit_menu h1 {
  font-weight: 500;
  color: var(--primary-btn);
}

.visit_menu_text {
  color: var(--secondary-color);
  max-width: 60%;
}

.visit_menu_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  overflow-x: scroll;
  margin: 20px 0;
  text-align: center;
}

.visit_menu_list::-webkit-scrollbar {
  display: none;
}

.visit_menu_list_item img {
  min-width: 100px;
  width: 10vw;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.visit_menu_list_item p {
  font-size: max(1.4vw, 16px);
  margin-top: 10px;
  color: var(--secondary-color);
  cursor: pointer;
}

.visit_menu hr {
  background-color: #e2e2e2;
  margin: 10px 0;
  border: none;
  height: 2px;
}

.visit_menu_list_item .active {
  padding: 2px;
  border: 4px solid var(--secondary-btn);
}

/* RESPONSIVENESS */

@media (max-width: 1050px) {
  .visit_menu_text {
    max-width: 100%;
    font-size: 14px;
  }
}
